.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 98, 96);
    color: white;
    min-height: 100vh;
}

h1 {
    font-family: "Tektur", sans-serif;
    font-style: normal;
    font-size: 50px;
}

footer {
    width: 100%;
    text-align: center;
}

hr {
    border: none;
    border-top: 2px solid white; 
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.e {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: fit-content;
}

/* поле ввода */
.input {
    height: 40;
    border: 0;  
    outline: none;
    background-color: rgb(226, 226, 226);
    width: 400;
    margin: 4px;
    transition: .2s linear;
    margin: 4px 4px 16px 4px;
    padding: 4px;
}
.input:focus {
    background-color: white;
    box-shadow: 0 0 0 2px rgb(0, 98, 96), 0 0 0 4px white;
}
.input:hover {
    background-color: white;
}

/* список */
.list {
    width: 400px;
    padding: 20;
    margin: 0 auto;
    list-style-type: none;
    max-height: 160px;
    max-height: 300px;  
    overflow-y: auto;
    min-height: 100px; 
}

/* скроллбар списка */
.list::-webkit-scrollbar {
    width: 10px;
}
.list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(0, 62, 61);
}
.list::-webkit-scrollbar-track {
    background-color: rgb(104, 167, 165);
    border-radius: 10px;
}

/* перенос текста */
.container-list-element {
    display: flex;
    align-items: center;
    min-width: 0;
}
.container-list-element label {
    white-space: nowrap;       
    overflow: hidden;          
    text-overflow: ellipsis;   
}

/* дата внизу */
.container-task {
    display: flex;
    flex-direction: column;
    min-width: 0;
    flex: 1;
}
.date {
    font-size: 10;
}

/* элемент списка */
.list-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(219, 219, 219);
    margin: 6px;
    padding: 4px;
    color: black;
    transition: .2s linear;
}
.list-element:hover {
    background-color: darkgrey;
} 
.list-element:hover .button-cancel { 
    background-color: darkgrey;
}

/* чекбоксы */
.input-checkbox {
    accent-color: darkgrey;
    transition: .2s linear;
}
.input-checkbox:checked + .container-task .task {
    text-decoration: line-through;
}
.input-checkbox:hover {
    filter: brightness(0.86)
}
.input-checkbox:checked {
    accent-color: rgb(219, 219, 219);
}
.list-element:hover .button-cancel {
    background-color: darkgrey;
}
.list-element:hover .input-checkbox:checked { 
    accent-color: darkgrey;
}

/* кнопка "Создать" */
.button-create {
    height: 40;
    width: 120;
    background-color: rgb(211, 211, 211);
    border: none;
    transition: .2s linear;
    margin: 4px 4px 16px 4px;
}
.button-create:hover {
    background-color: white;
    box-shadow: 0 0 0 2px rgb(0, 98, 96), 0 0 0 4px white;
}
.button-create:active {
    background-color: rgb(90, 90, 90);
    box-shadow: 0 0 0 2px rgb(0, 98, 96), 0 0 0 4px rgb(90, 90, 90);
}


/* кнопка "Очистить" */
.button-reset {
    height: 40;
    width: 120;
    background-color: rgb(255, 121, 121);
    border: none;
    transition:  .2s linear;
    margin: 4px 4px 16px 4px;
}
.button-reset:hover {
    background-color: rgb(255, 63, 63);
    box-shadow: 0 0 0 2px rgb(0, 98, 96), 0 0 0 4px rgb(255, 63, 63);
}
.button-reset:active {
    background-color: rgb(117, 0, 0);
    box-shadow: 0 0 0 2px rgb(0, 98, 96), 0 0 0 4px rgb(117, 0, 0);
}

/* кнопка "х" */
.button-cancel {
    border: none;
    transition:.2s linear;
    background-color: rgb(219, 219, 219);
}
.button-cancel:hover {
    color: white;
}